USE [master]
GO
/****** Object:  Database [PF-BDD]    Script Date: 23/10/2023 12:01:41 ******/
CREATE DATABASE [PF-BDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PF-BDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PF-BDD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PF-BDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PF-BDD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PF-BDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PF-BDD]
GO
/****** Object:  User [recepcion]    Script Date: 23/10/2023 12:01:41 ******/
CREATE USER [recepcion] FOR LOGIN [recepcion] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 23/10/2023 12:01:41 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [recepcion]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 23/10/2023 12:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[idHabitacion] [int] NOT NULL,
	[numeroHab] [int] NOT NULL,
	[pisoHab] [int] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Foto] [varchar](500) NULL,
 CONSTRAINT [PK_Habitacion] PRIMARY KEY CLUSTERED 
(
	[idHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 23/10/2023 12:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NOT NULL,
	[NroHabitacion] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[dni] [int] NOT NULL,
	[IdReserva] [int] NOT NULL,
 CONSTRAINT [PK_Reserva_1] PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 23/10/2023 12:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio](
	[idServicio] [int] NOT NULL,
	[fk_habitacion] [int] NOT NULL,
	[estado] [bit] NOT NULL,
	[fk_tarea] [int] NOT NULL,
	[fk_usuario] [int] NOT NULL,
 CONSTRAINT [PK_servicio] PRIMARY KEY CLUSTERED 
(
	[idServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 23/10/2023 12:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[descripcion] [varchar](50) NOT NULL,
	[idTarea] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[idTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 23/10/2023 12:01:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Habitacion] ([idHabitacion], [numeroHab], [pisoHab], [Estado], [Foto]) VALUES (1, 101, 1, N'O', N'https://dazzlerasuncion.com/wp-content/uploads/2023/05/classic_king_twin_2_dazzler_asuncion-1.jpg')
INSERT [dbo].[Habitacion] ([idHabitacion], [numeroHab], [pisoHab], [Estado], [Foto]) VALUES (2, 102, 1, N'L', N'https://dazzlerasuncion.com/wp-content/uploads/2023/05/classic_king_twin_2_dazzler_asuncion-1.jpg')
INSERT [dbo].[Habitacion] ([idHabitacion], [numeroHab], [pisoHab], [Estado], [Foto]) VALUES (3, 103, 1, N'R', N'https://dazzlerasuncion.com/wp-content/uploads/2023/05/classic_king_twin_2_dazzler_asuncion-1.jpg')
GO
INSERT [dbo].[Reserva] ([fechaInicio], [fechaFin], [NroHabitacion], [nombre], [apellido], [dni], [IdReserva]) VALUES (CAST(N'2023-10-11' AS Date), CAST(N'2023-10-27' AS Date), 102, N'Facundo', N'Szafersztejn', 46645927, 2)
INSERT [dbo].[Reserva] ([fechaInicio], [fechaFin], [NroHabitacion], [nombre], [apellido], [dni], [IdReserva]) VALUES (CAST(N'2024-01-01' AS Date), CAST(N'2024-01-07' AS Date), 104, N'Tommy', N'Smaevich', 46961130, 4)
INSERT [dbo].[Reserva] ([fechaInicio], [fechaFin], [NroHabitacion], [nombre], [apellido], [dni], [IdReserva]) VALUES (CAST(N'2023-12-01' AS Date), CAST(N'2023-12-22' AS Date), 105, N'Fede', N'Snieg', 41445287, 5)
GO
SET IDENTITY_INSERT [dbo].[Tareas] ON 

INSERT [dbo].[Tareas] ([descripcion], [idTarea]) VALUES (N'cocinar', 1)
INSERT [dbo].[Tareas] ([descripcion], [idTarea]) VALUES (N'caminar', 2)
INSERT [dbo].[Tareas] ([descripcion], [idTarea]) VALUES (N'trotar', 3)
SET IDENTITY_INSERT [dbo].[Tareas] OFF
GO
ALTER TABLE [dbo].[servicio]  WITH CHECK ADD  CONSTRAINT [FK_servicio_Tareas] FOREIGN KEY([fk_tarea])
REFERENCES [dbo].[Tareas] ([idTarea])
GO
ALTER TABLE [dbo].[servicio] CHECK CONSTRAINT [FK_servicio_Tareas]
GO
ALTER TABLE [dbo].[servicio]  WITH CHECK ADD  CONSTRAINT [FK_servicio_usuario] FOREIGN KEY([fk_usuario])
REFERENCES [dbo].[usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[servicio] CHECK CONSTRAINT [FK_servicio_usuario]
GO
USE [master]
GO
